* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --space: calc(.20rem + 1vmin);
    --calculator-background: #242424;
    --calculator-foreground: #f9f9f9;
    --box-shadow: rgba(0, 0, 0, 1) 0px 1px 4px ;
    --help-size: calc(1.2rem + 1vmin);
    --operator-color: #238dc9;
    --action-color: #c0392b;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: var(--space);
    row-gap: var(--space);
    background-color: var(--calculator-background);
    color: var(--calculator-foreground);
}

.display {
    flex: .5;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: var(--box-shadow);
}

.display .help {
    position: absolute;
    top: var(--space);
    left: var(--space);
    background-color: var(--operator-color);
    color: inherit;
    font-size: calc(.8rem + .5vmin);
    font-weight: bold;
    padding: calc(.5rem + 1vmin);
    text-decoration: none;
}

.display .help::after {
    content: "";
    width: 0;
    position: absolute;
    bottom: calc(.2rem + 1vmin);
    left: 10%;
    display: inline-block;
    border-bottom: .2rem solid white;
    transition: width .2s;
}

.display .help:hover::after {
    width: 80%;
}

.display .result-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0 var(--space);
}

.display .result-container .result {
    align-self: flex-end;
    font-size: calc(4rem + 1vmin);
    font-weight: bold;
}

.display .history {
    font-size: calc(1rem + 1vmin);
    text-align: right;
    padding: var(--space);
}

.keyboard {
    flex: 3;
    display: flex;
    flex-direction: column;
    row-gap: var(--space);
}

.keyboard .row {
    flex: 1;
    display: flex;
    column-gap: var(--space);
}

.keyboard .row button {
    flex: 1 0 calc(25% - var(--space));
    border: none;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 1) 0px 1px 4px;
    background-color: transparent;
    color: inherit;
    font-size: calc(1.5rem + 1.5vmin);
    cursor: pointer;
    transition: background-color .2s;
}

.keyboard .row button[data-type="operator"] {
    color: var(--operator-color);
}

.keyboard .row button[data-type="action"] {
    color: var(--action-color);
}

.keyboard .row button.active,
.keyboard .row button:hover {
    background-color: #383838;
}

.keyboard .row button[data-value="0"] {
    flex-basis: calc(50% - var(--space));
}
